@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* nav section styling */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 3px #FF5F00;
    padding: 5px 100px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
.menu-bar{
    display: none;
}
.hero-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-left{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-right{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-logo{
    width: 100px;
}
.hero-logo img{
    width: 100%;
    padding: 5px;
}
.hero-nav li{
    list-style: none;
    padding: 5px 10px;
}
.hero-nav .signin{
    margin: 0 20px;
}
.hero-nav a{
    text-decoration: none;
    font-style: normal;
font-weight: 400;
font-size: 1rem;
line-height: 30px;
color: #0F0F0F;
cursor: pointer;
transition: 0.5s;
}
.hero-nav a:hover{
    color: #FF5F00;
    text-decoration: underline;
}
.herobtn1{
    background: linear-gradient(134deg, #EB001B -43.28%, #F79E1B 97%);
    border-radius: 0.3125rem;
    padding: 0.3125rem 0.9375rem;
    border: 0.125rem solid #FF5F00;
    cursor: pointer;
}
.herobtn1 a{
    color: #FFFFFF;
}
.herobtn1 a:hover{
    color: #FFFFFF;
    text-decoration: none;
}
.herobtn1:hover{
    background: #FF5F00;
box-shadow: 0rem 0.375rem 1.5625rem rgba(255, 95, 0, 0.4);
border-radius: 0.3125rem;

}

/* hero landing section styling */
.hero-landing{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 100px 0 100px;
}
.hero-landing-content{
width: 55%;
}
h1{
    font-style: normal;
font-weight: 800;
font-size: 300%;
line-height: 70px;
color: #0F0F0F;
margin-bottom: 20px;
}
p{
    font-style: normal;
font-weight: 400;
font-size: 125%;
line-height: 30px;
color: #0F0F0F;
margin-bottom: 20px;
}
.herobtn{
    background: linear-gradient(134deg, #EB001B -43.28%, #F79E1B 97%);
    border-radius: 5px;
    padding: 5px 15px;
    border: 2px solid #FF5F00;
    cursor: pointer;
}
.herobtn a{
    color: #FFFFFF;
    text-decoration: none;
}
.herobtn:hover{
    background: #FF5F00;
box-shadow: 0px 6px 25px rgba(255, 95, 0, 0.4);
border-radius: 5px;
}
.img-box{
    width: 55%
}
.heroimg{
width: 100%;
}

/* card samples section styling */
.cardsamples{
    margin: 0 100px 80px 100px;
    overflow: hidden;
}
.cardsamples img{
    width: 100%;
    animation: moveImage 12s linear infinite;
}
@keyframes moveImage {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

/* Card Collection Section Styling */
.card-collection{
    padding: 0 100px 0 50px;
}
.card-collection h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 42px;
color: #0F0F0F;
margin-bottom: 30px;
}
.collection-content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-collection .card{
    width: 30%;
background: #F8F8F8;
border-radius: 10px;
margin-left: 30px;
padding: 0 10px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
margin-bottom: 50px;
}
.bluecard{
    margin: 10px 0;
    width: 100%;
}
.cardimg{
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardimg .front{
    width: 100%;
    cursor: pointer;
}
.cardbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.cardbtn img:nth-child(1){
    margin-left: 25px;
}
.cardbtn img{
    margin-right: 10px;
    margin-bottom: 30px;
    cursor: pointer;
    width: 10%;
}
.cardbtn span{
    margin-right: 5%;
    margin-bottom: 30px;
    width: 100%;
    font-size: 100%;
}
.cardbtn .last-span{
    margin-right: 0;
}
.card .herobtn{
    margin-bottom: 20px;
    width: 80%;
    height: 50px;
}
.hr{
    width: 100%;
    height: 1px;
    background-color: #C2C2C2;
    margin-bottom: 30px;
}
.back{
    display: none;
    width: 100%;
    margin: 12px 0;
}
.cardimg:hover .front{
    display: none;
}
.cardimg:hover .back{
    display: block;
}

 /* footer section styling */
 footer{
    background-color: #202326;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 0;
 }
 footer h3{
    font-style: normal;
font-weight: 400;
font-size: 1rem;
line-height: 1.875rem;
text-align: center;
width: 100%;
margin: 1.25rem 0;
color: rgba(255, 255, 255, 0.75);
padding: 0 20px;
 }
 footer .hero-nav a{
    color: rgba(255, 255, 255, 0.75);
 }
 .socials{
    display: flex;
    align-items: center;
    justify-content: center;
     margin: 0 20px;
 }
 .socials a{
    text-decoration: none;
 }
 .socials .fa{
    font-size: 24px;
    color: #FFFFFF;
    transition: 0.5s
   
 }
 .socials a:nth-child(2){
    margin: 0 1.25rem;
 }
 .socials .fa:hover{
    transform: rotateX('40');
    color: #FF5F00;
 }
 footer h5{
    font-style: normal;
font-weight: 400;
font-size: 0.75rem;
line-height: 18px;
color: rgba(255, 255, 255, 0.75);
margin-top: 15px
 }

 @media  screen and (max-width: 1125px) {
    nav{
        padding: 5px 50px;
    }
    .hero-landing{
        margin: 50px 50px 0 50px;
    }
    .card-collection{
        padding: 0 50px;
    }
    .cardsamples{
        margin: 0 50px 80px 50px;
    }
 }
 @media  screen and (max-width: 1010px){
    h1{
    font-size: 250%;
    line-height: 40px;
    }
    p{
    font-size: 100%;
    line-height: 25px;
    }
    .cardbtn img:nth-child(1){
        margin-left: 5px;
    }
 }
 @media  screen and (max-width: 864px){
    h1{
        font-size: 200%;
        line-height: 40px;
        }
        p{
        font-size: 16px;
        line-height: 25px;
        }
 }
 @media screen and (max-width: 820px ){
    /* nav section styling */
.hero-logo{
width: 80px;
}
.hero-nav li{
font-size: 13px;
}
.hero-nav .signin{
margin-left: 15px;
}
.hero-nav a{
font-size: 13px;
}
.herobtn1{
font-size: 13px;
}
}
 @media  screen and (max-width: 767px){
    nav{
        padding: 5px 20px;
        font-size: 12px;
    }
    
.hero-nav li{
    font-size: 12px;
}
.herobtn1{
    font-size: 12px;
}
    .hero-landing{
        margin: 80px 20px 0 20px;
    }
    .card-collection{
        padding: 0 20px;
    }
    .cardsamples{
        margin: 0 20px 80px 20px;
    }
 }
 @media  screen and (max-width: 707px){
    .menu-bar{
        display: block;
    }
        .hamburger-menu {
            height: 35px;
            width: 45px;
            position: relative;
            cursor: pointer;
            padding: 0.5rem;
            z-index: 4;
          }
        
          .ham-bar {
            width: 70%;
            height: 4px;
            background-color: #FF5F00;
            border-radius: 25px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: transform 0.6s, opacity 0.8s, top 0.6s;
          }
        
          .bar-top {
            top: 25%;
          }
          .bar-bottom {
            top: 75%;
          }
          .hamburger-menu.active .bar-top {
            transform: translate(-50%, -50%) rotate(-315deg);
            top: 50%;
          }
          .hamburger-menu.active .bar-mid {
            opacity: 0;
          }
          .hamburger-menu.active .bar-bottom {
            transform: translate(-50%, -50%) rotate(-225deg);
            top: 50%;
          }
      #nav-links {
        position: fixed;
        top: 0;
        right: -100%;
        height: 260px;
        width: 100%;
        transition: right 0.5s;
        background: white;
        box-shadow: 1px 1px 3px #FF5F00;
        color: #000000;
        text-align: left;
        z-index: 2;
        display: block;
        margin-top: 62px;
        padding: 5px 0;
      }
      #nav-links li {
        padding: 10px 0;
        text-align: center;
      }
    
      #nav-links.active {
        right: 0;
      }
      #nav-links .nav-left{
        display: block;
      }
      #nav-links .nav-left a,  #nav-links .nav-right a{
        font-size: 18px;
      }
      #nav-links .nav-right li{
        margin-right: 20px;
      }
    
      nav{
        padding: 5px 20px;
    }
    .hero-logo{
        width: 60px;
    }

    .hero-landing{
        flex-direction: column;
    }
    .hero-landing-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
    .hero-landing-content h1{
        text-align: center;
        margin-top: 30px;
    }
    .hero-landing-content p{
        text-align: center;
        margin-bottom: 0;
    }
    .img-box{
        width: 100%
    }
    .heroimg{
    width: 100%;
    }
    /* card sample */
    .cardsamples{
        margin-bottom: 30px;
    }
    .cardsamples img{
        width: 200%;
    }
/* card collection styling */
.card-collection{
    padding: 0 20px;
}
.card-collection .card{
width: 30%;
border-radius: 10px;
margin-left: 10px;
margin-bottom: 50px;
}
.cardbtn img{
    margin-right: 3px;
    margin-bottom: 10px;
    cursor: pointer;
    width: 10%;
}
.cardbtn span{
    margin-right: 2%;
    margin-bottom: 9px;
    width: 100%;
    font-size: 50%;
}
.card .herobtn{
    margin-bottom: 15px;
    width: 90%;
    padding: 3px;
    height: 30px;
}
.card .herobtn a{
    font-size: 10px;
}
.hr{
    margin-bottom: 10px;
}

    
 /* footer section styling */
 footer{
    padding: 20px 0;
    margin-top: 20px;
 }
 footer h3{
font-size: 12px;
line-height: 20px;
padding: 0 20px;
 }
 footer .hero-nav li{
    font-size: 12px;
 }
 .socials{
     margin: 0 10px;
 }
 .socials .fa{
    font-size: 20px;
 }
 .socials a:nth-child(2){
    margin: 0 10px;
 }
 .socials .fa:hover{
    transform: rotateX('40');
    color: #FF5F00;
 }
 }