*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid red; */
}
/* nav section styling */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 3px #FF5F00;
    padding: 5px 100px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    font-family: 'Poppins', sans-serif;
}
.menu-bar{
    display: none;
}
.hero-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-left{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-right{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-logo{
    width: 100px;
}
.hero-logo img{
    width: 100%;
    padding: 5px;
}
.hero-nav li{
    list-style: none;
    padding: 5px 10px;
}
.hero-nav .signin{
    margin: 0 20px;
}
.hero-nav a{
    text-decoration: none;
    font-style: normal;
font-weight: 400;
font-size: 1rem;
line-height: 30px;
color: #0F0F0F;
cursor: pointer;
transition: 0.5s;
}
.hero-nav a:hover{
    color: #FF5F00;
    text-decoration: underline;
}
.herobtn1{
    background: linear-gradient(134deg, #EB001B -43.28%, #F79E1B 97%);
    border-radius: 0.3125rem;
    padding: 0.3125rem 0.9375rem;
    border: 0.125rem solid #FF5F00;
    cursor: pointer;
}
.herobtn1 a{
    color: #FFFFFF;
}
.herobtn1 a:hover{
    color: #FFFFFF;
    text-decoration: none;
}
.herobtn1:hover{
    background: #FF5F00;
box-shadow: 0rem 0.375rem 1.5625rem rgba(255, 95, 0, 0.4);
border-radius: 0.3125rem;
}
.herobtn{
    background: linear-gradient(134deg, #EB001B -43.28%, #F79E1B 97%);
    border-radius: 0.3125rem;
    padding: 0.3125rem 0.9375rem;
    border: 0.125rem solid #FF5F00;
    cursor: pointer;
    width: 40%;
    height: 3.125rem;
    font-size: 20px;
}
.herobtn a{
    color: #FFFFFF;
    text-decoration: none;
}
.herobtn:hover{
    background: #FF5F00;
box-shadow: 0rem 0.375rem 1.5625rem rgba(255, 95, 0, 0.4);
border-radius: 0.3125rem;
}
/* header section styling */
header{
    margin: 30px 100px;
    position: relative;
    top: 100px;
    font-family: 'Poppins', sans-serif;
}
header a{
    text-decoration: none;
    color: black;
}
header a:hover{
    color: #EB001B;
    text-decoration: underline;
}
/* main section styling */
main{
    display: flex;
    /* justify-content: space-between; */
    margin: 50px 100px 100px 100px;
    position: relative;
    top: 80px;
}
.card-doc{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40%;
    height: 500px;
    background-color: #F8F8F8;
    border-radius: 20px;
    padding: 50px 20px;
    margin-right: 10%;
}
.card-design{
    width: 90%;
    height: 230px;
    background: linear-gradient(134deg, #EB001B -43.28%, #F79E1B  97%);
    border-radius: 10px;
    padding: 20px;
}
.card-design .vector{
    display: flex;
    align-items:flex-end;
    justify-content: flex-end;
}
.card-design h2{
    font-weight: lighter;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
    margin-top: 35px;
}
.card-design h3{
    color: #C2C2C2;
    font-weight: lighter;
    font-size: 18px;
    line-height: 20px;
    padding: 10px 0;
}
.card-design .seal{
    width: 50px;
}
.card-doc p{
    font-size: 14px;
    text-align: center;
}
.card-color{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.card-color div{
    height: 40px;
    width: 40px;
}
.card-color div:hover{
    border: 3px solid #F8F8F8;
    border-radius: 5px;
    cursor: pointer;
}
.card-color div:nth-child(1){
    background: linear-gradient(134deg, #EB001B -43.28%, #F79E1B  97%);
}
.card-color div:nth-child(2){
    background: linear-gradient(134deg, #327A60 35.63%, #230B58 93.35%);
    margin: 0 30px;
}
.card-color div:nth-child(3){
    background: linear-gradient(134deg, #4C0964 7.86%, #EF8B16 97%);
}
.card-color div:nth-child(4){
background: linear-gradient(134deg, #EB001B 20.86%, #000000 97%);
margin-left: 30px;
}
.card-doc-about{
    width: 50%;
    font-family: 'Poppins', sans-serif;
}
.card-doc-about h2{
    font-size: 28px;
    line-height: 38px;
    width: 85%;
}
.card-doc-about p{
    font-size: 20px;
    text-align: justify;
    width: 100%;
    margin-bottom: 30px;
}
.herobtn{
    text-decoration: none;
    width: 80%;
    padding: 10px 15%;
    color: #FFFFFF;
}

/* features section styling */
.features{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: none;
    padding: 50px 100px;
    margin: 50px 0;
    font-family: 'Poppins', sans-serif;
}
.features-text{
    width: 50%;
    margin-right: 5%;
}
.features ul li{
    font-style: normal;
font-weight: 400;
font-size: 1.3rem;
line-height: 2.5rem;
color: #0F0F0F;
text-align: justify;
}
.features-img{
    width: 45%;
    margin-left: 1.25rem;
}
.karim-img{
    width: 100%;
}


/* footer section styling */
footer{
    background-color: #202326;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 0;
    font-family: 'Poppins', sans-serif;
 }
 footer h3{
    font-style: normal;
font-weight: 400;
font-size: 1rem;
line-height: 1.875rem;
text-align: center;
width: 100%;
margin: 1.25rem 0;
color: rgba(255, 255, 255, 0.75);
padding: 0 20px;
 }
 footer .hero-nav a{
    color: rgba(255, 255, 255, 0.75);
 }
 .socials{
    display: flex;
    align-items: center;
    justify-content: center;
     margin: 0 20px;
 }
 .socials a{
    text-decoration: none;
 }
 .socials .fa{
    font-size: 24px;
    color: #FFFFFF;
    transition: 0.5s
   
 }
 .socials a:nth-child(2){
    margin: 0 1.25rem;
 }
 .socials .fa:hover{
    transform: rotateX('40');
    color: #FF5F00;
 }
 footer h5{
    font-style: normal;
font-weight: 400;
font-size: 0.75rem;
line-height: 18px;
color: rgba(255, 255, 255, 0.75);
margin-top: 15px
 }

/* media query */
@media screen and (max-width: 1030px){
     header{
        margin: 0px 50px;
    }
    nav{
        padding: 5px 50px;
    }
    main{
        margin: 50px 50px 100px 50px;
    }
    .card-doc-about p{
        font-size: 17px;
    }
    .card-doc{
        width: 47%;
        margin-right: 3%;
    }
    .card-doc-about h2{
        font-size: 20px;
        line-height: 30px;
    }
    /* features section styling */
.features ul li{
    font-size: 18px;
    line-height: 30px;
    }
    .features{
        padding: 50px;
    }
}
@media screen and (max-width: 900px) {
    
    /* nav section styling */
    .hero-nav a{
    font-size: 14px;
    line-height: 28px;
    }
    /* features section styling */
.features ul li{
    font-size: 1rem;
    line-height: 1.75rem;
    }
}
@media screen and (max-width: 830px){
    /* nav section styling */
.hero-logo{
    width: 100px;
}
.hero-nav li{
    font-size: 14px;
}
.hero-nav .signin{
    margin-left: 1.25rem;
}
.hero-nav a{
font-size: 14px;
}
.herobtn1{
    font-size: 14px;
}
/* features section styling */
.features ul li{
    font-size: 16px;
    line-height: 30px;
    }
}
@media screen and (max-width: 814px) {
    .card-design h3{
        font-size: 14px;
        line-height: 18px;
    }    
}
@media screen and (max-width: 780px ){
    /* nav section styling */
.hero-logo{
width: 80px;
}
.hero-nav li{
font-size: 13px;
}
.hero-nav .signin{
margin-left: 15px;
}
.hero-nav a{
font-size: 13px;
}
.herobtn1{
font-size: 13px;
}
}
@media screen and (max-width: 718px){
    .menu-bar{
        display: block;
    }
        .hamburger-menu {
            height: 35px;
            width: 45px;
            position: relative;
            cursor: pointer;
            padding: 0.5rem;
            z-index: 4;
          }
        
          .ham-bar {
            width: 70%;
            height: 4px;
            background-color: #FF5F00;
            border-radius: 25px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: transform 0.6s, opacity 0.8s, top 0.6s;
          }
        
          .bar-top {
            top: 25%;
          }
          .bar-bottom {
            top: 75%;
          }
          .hamburger-menu.active .bar-top {
            transform: translate(-50%, -50%) rotate(-315deg);
            top: 50%;
          }
          .hamburger-menu.active .bar-mid {
            opacity: 0;
          }
          .hamburger-menu.active .bar-bottom {
            transform: translate(-50%, -50%) rotate(-225deg);
            top: 50%;
          }
      #nav-links {
        position: fixed;
        top: 0;
        right: -100%;
        height: 260px;
        width: 100%;
        transition: right 0.5s;
        background: white;
        box-shadow: 1px 1px 3px #FF5F00;
        color: #000000;
        text-align: left;
        z-index: 2;
        display: block;
        margin-top: 62px;
        padding: 5px 0;
      }
      #nav-links li {
        padding: 10px 0;
        text-align: center;
      }
    
      #nav-links.active {
        right: 0;
      }
      #nav-links .nav-left{
        display: block;
      }
      #nav-links .nav-left a,  #nav-links .nav-right a{
        font-size: 18px;
      }
      #nav-links .nav-right li{
        margin-right: 20px;
      }
    
      nav{
        padding: 5px 20px;
    }
    .hero-logo{
        width: 60px;
    }

    header{
        margin: 0px 20px;
    }
    main{
        flex-direction: column;
        margin: 50px 20px 100px 20px;
    }
    .card-doc{
        width: 100%;
        height: 350px;
        padding: 20px 10px 30px 10px;
        margin-right: 0;
        margin-bottom: 50px;
    }
    
.card-design{
    width: 100%;
    padding: 20px;
    height: 250px;
}
.card-design .vector img{
    width: 40px;
}
.card-design h2{
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    margin-top: 15px;
}
.card-design .seal{
    width: 50px;
}
.card-doc p{
    margin-top: 5px;
    font-size: 16px;
    text-align: center;
}
.card-doc-about{
    width: 100%;
}
.card-doc-about h2{
    text-align: center;
}
.herobtn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

    /* featues styling */
    .features{
        flex-direction: column;
        padding: 50px 20px;
        margin: 20px 0;
    }
    .features-text{
        width: 100%;
    }
    .features-text h2{
        text-align: center;
    }
    .features-text ul{
        margin-left: 20px;
    }
    .features-img{
        width: 100%;
        margin-left: 0;
    }
    /* footer section styling */
 footer{
    padding: 20px 0;
    margin-top: 20px;
 }
 footer h3{
font-size: 12px;
line-height: 20px;
padding: 0 20px;
 }
 footer .hero-nav li{
    font-size: 12px;
 }
 .socials{
     margin: 0 10px;
 }
 .socials .fa{
    font-size: 20px;
 }
 .socials a:nth-child(2){
    margin: 0 10px;
 }
 .socials .fa:hover{
    transform: rotateX('40');
    color: #FF5F00;
 }
 }