@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* nav section styling */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 3px #FF5F00;
    padding: 5px 100px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
.menu-bar{
    display: none;
}
.hero-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-left{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-right{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-logo{
    width: 100px;
}
.hero-logo img{
    width: 100%;
    padding: 5px;
}
.hero-nav li{
    list-style: none;
    padding: 5px 10px;
}
.hero-nav .signin{
    margin: 0 20px;
}
.hero-nav a{
    text-decoration: none;
    font-style: normal;
font-weight: 400;
font-size: 1rem;
line-height: 30px;
color: #0F0F0F;
cursor: pointer;
transition: 0.5s;
}
.hero-nav a:hover{
    color: #FF5F00;
    text-decoration: underline;
}
.herobtn1{
    background: linear-gradient(134deg, #EB001B -43.28%, #F79E1B 97%);
    border-radius: 0.3125rem;
    padding: 0.3125rem 0.9375rem;
    border: 0.125rem solid #FF5F00;
    cursor: pointer;
}
.herobtn1 a{
    color: #FFFFFF;
}
.herobtn1 a:hover{
    color: #FFFFFF;
    text-decoration: none;
}
.herobtn1:hover{
    background: #FF5F00;
box-shadow: 0rem 0.375rem 1.5625rem rgba(255, 95, 0, 0.4);
border-radius: 0.3125rem;

}

/* hero landing section styling */
.hero-landing{
    position: relative;
    top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 100px;
}
.hero-landing .hero-landing-content{
width: 55%;
margin-right: 30px;
}
h1{
font-style: normal;
font-weight: 800;
font-size: 400%;
line-height: 120%;
color: #0F0F0F;
margin-bottom: 1.25rem;
}
p{
    font-style: normal;
font-weight: 400;
font-size: 1.4rem;
line-height: 1.875rem;
color: #0F0F0F;
margin-bottom: 1.25rem;
}
.herobtn{
    background: linear-gradient(134deg, #EB001B -43.28%, #F79E1B 97%);
    border-radius: 0.3125rem;
    padding: 0.3125rem 0.9375rem;
    border: 0.125rem solid #FF5F00;
    cursor: pointer;
    width: 40%;
    height: 3.125rem;
    font-size: 20px;
}
.herobtn a{
    color: #FFFFFF;
    text-decoration: none;
}
.herobtn:hover{
    background: #FF5F00;
box-shadow: 0rem 0.375rem 1.5625rem rgba(255, 95, 0, 0.4);
border-radius: 0.3125rem;
}
.heroImg-container{
    width: 30%;
}
.heroimg{
width: 100%;
}

/* card samples section styling */
.cardsamples{
    margin: 170px 100px 50px 100px;
    overflow: hidden;
}
.cardsamples img{
    width: 100%;
    animation: moveImage 12s linear infinite;
}
@keyframes moveImage {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

/* billy section styling */
.billy{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.25rem 6.25rem;
}
h2{
font-style: normal;
font-weight: 700;
font-size: 2rem;
line-height: 3rem;
color: #0F0F0F;
}
.billy-container{
width: 40%;
}
.billy-img{
    width: 100%;
}
.billy-content{
    width: 50%;
    margin-left: 10%;
}
.billy-content p {
    width: 100%;
    text-align: justify;
}

/* features section styling */
.features{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(180deg, rgba(255, 102, 0, 0) 0%, rgba(255, 102, 0, 0.05) 15.1%, rgba(255, 102, 0, 0.05) 84.9%, rgba(255, 102, 0, 0) 100%);
    padding: 50px 100px;
    margin: 50px 0;
}
.features-text{
    width: 50%;
    margin-right: 5%;
}
.features ul li{
    font-style: normal;
font-weight: 400;
font-size: 1.3rem;
line-height: 2.5rem;
color: #0F0F0F;
text-align: justify;
}
.features-img{
    width: 45%;
    margin-left: 1.25rem;
}
.karim-img{
    width: 100%;
}

/* Others Think Section Styling */
.others-think{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem 6.25rem;
}
.users{
    width: 60%;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 63%;
}
.container h3{
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
   color: #0F0F0F;
   width: 18.75rem;
   margin-left: 1.25rem;
   margin-bottom: 0rem;
}
.container img{
    width: 2.8125rem;
    height: 2.8125rem;
}
.one{
    background: rgba(17, 153, 163, 0.1);
    border-radius: 1.25rem;
    padding: 0.9375rem;
    margin: 0 0 1.25rem 2.5rem;
}
.two{
    background: linear-gradient(134deg, rgba(235, 0, 27, 0.1) -43.28%, rgba(247, 158, 27, 0.1) 97%);
    border-radius: 1.25rem;
    padding: 0.9375rem;
    margin-bottom: 1.25rem;
}
.three{
    background: rgba(184, 54, 137, 0.1);
    border-radius: 1.25rem;
    padding: 0.9375rem;
    margin: 0 0 0 5rem;
}
.container-right{
    margin-left: 100px;
    width: 40%;
}
.container-right h2{
    width: 100%;
    margin-bottom: 15px;
    line-height: 2.5rem;
}
.container-right h3{
    font-style: normal;
    font-weight: 400;
   color: #0F0F0F;
   width: 100%;
   text-align: justify;
}
 /* faq section styling */
 .faq{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 6.25rem 0;
 }
 .faq h3{
    font-style: normal;
font-weight: 400;
font-size: 1rem;
line-height: 1.875rem;
text-align: center;
color: rgba(35, 31, 32, 0.9);
width: 37.5rem;
margin-bottom: 1.875rem;
 }
 .questions{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }
 .faq h4{
font-style: normal;
font-weight: 700;
font-size: 1.125rem;
line-height: 1.125rem;
color: rgba(35, 31, 32, 0.9);
background: #FFFFFF;
border: 0.0313rem solid #C2C2C2;
box-shadow: 0rem 1.5625rem 3.125rem rgba(22, 25, 79, 0.05);
border-radius: 0.9375rem;
margin-bottom: 1.25rem;
/* width: 43.75rem; */
width: 1000px;
padding: 0.9375rem;
cursor: pointer;
 }
 .faq .plus{
    width: 1.25rem;
    height: 1.25rem;
    cursor: pointer;
 }
 .one-plus{
    margin-left: 65%;
 }
 .two-plus{
    margin-left: 58%;
 }
 .three-plus{
    margin-left: 50%;
 }
 .four-plus{
    margin-left: 34%;
 }
 .five-plus{
    margin-left: 73.5%;
 }
 span{
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.5rem;
    text-align: justify;
    display: none;
 }

 h4:hover span{
    display: block;
 }

 /* footer section styling */
 footer{
    background-color: #202326;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 0;
 }
 footer h3{
    font-style: normal;
font-weight: 400;
font-size: 1rem;
line-height: 1.875rem;
text-align: center;
width: 100%;
margin: 1.25rem 0;
color: rgba(255, 255, 255, 0.75);
padding: 0 20px;
 }
 footer .hero-nav a{
    color: rgba(255, 255, 255, 0.75);
 }
 .socials{
    display: flex;
    align-items: center;
    justify-content: center;
     margin: 0 20px;
 }
 .socials a{
    text-decoration: none;
 }
 .socials .fa{
    font-size: 24px;
    color: #FFFFFF;
    transition: 0.5s
   
 }
 .socials a:nth-child(2){
    margin: 0 1.25rem;
 }
 .socials .fa:hover{
    transform: rotateX('40');
    color: #FF5F00;
 }
 footer h5{
    font-style: normal;
font-weight: 400;
font-size: 0.75rem;
line-height: 18px;
color: rgba(255, 255, 255, 0.75);
margin-top: 15px
 }



  @media screen and (max-width: 1030px){
    /* hero landing section styling */
/* nav section styling */
nav{
    padding: 5px 50px;
}
.hero-landing{
    margin: 50px;
}
.hero-landing-content{
width: 80%;
margin-right: 1.875rem;
}
h1{
font-size: 250%;
line-height: 50px;
}
p{
font-size: 1.125rem;
line-height: 1.5625rem;
}
/* card samples section styling */
.cardsamples{
    margin: 170px 50px 50px 50px;
}
/* billy section styling */
.billy{
    margin: 20px 50px;
}
.billy-content{
    width: 65%;
}
/* features section styling */
.features ul li{
font-size: 18px;
line-height: 30px;
}
.features{
    padding: 50px;
}
/* Others Think Section Styling */
.others-think{
    padding: 20px 50px;
}
.container{
    justify-content: space-between;
    width: 70%;
}
.container h3{
    font-size: 0.875rem;
    line-height: 1.125rem;
}
.container-right{
    margin-left: 0rem;
}
.container-right h2{
    width: 90%;
}
.container-right h3{
   width: 100%;
}
  }
   @media screen and (max-width: 1000px) { 
 .faq h4{
width: 700px;
padding: 15px;
 }
 .faq .plus{
    width: 20px;
    height: 20px;
    cursor: pointer;
 }
 .one-plus{
    margin-left: 50%;
 }
 .two-plus{
    margin-left: 40%;
 }
 .three-plus{
    margin-left: 28%;
 }
 .four-plus{
    margin-left: 5%;
 }
 .five-plus{
    margin-left: 63%;
 }
 }
 @media screen and (max-width: 900px) {
    
/* nav section styling */
.hero-nav a{
font-size: 14px;
line-height: 28px;
}

/* hero landing section styling */
.hero-landing-content{
width: 80%;
margin-right: 1.875rem;
}
h1{
font-size: 2.375rem;
line-height: 3.75rem;
}
p{
font-size: 1rem;
line-height: 1.5625rem;
width: 85%;
}

/* billy section styling */
.billy-content{
    width: 100%;
}
/* features section styling */
.features ul li{
font-size: 1rem;
line-height: 1.75rem;
}


/* Others Think Section Styling */
.container{
    justify-content: center;
    width: 70%;
}
.container h3{
    font-size: 0.875rem;
    line-height: 1.125rem;
}
.container-right{
    margin-left: -60px
}
.container-right h2{
    width: 100%;
font-size: 20px;
line-height: 30px;
}
.container-right h3{
    font-size: 14px;
    line-height: 18px;
    width: 100%;
}


.one{
    padding: 0.625rem;
    margin: 0 0 1.25rem 1.25rem;
}
.two{
    padding: 0.625rem;
    margin-bottom: 1.25rem;
}
.three{
    padding: 0.625rem;
    margin: 0 0 0 2.5rem;
}
 }

 @media screen and (max-width: 830px){
    /* nav section styling */
.hero-logo{
    width: 100px;
}
.hero-nav li{
    font-size: 14px;
}
.hero-nav .signin{
    margin-left: 1.25rem;
}
.hero-nav a{
font-size: 14px;
}
.herobtn1{
    font-size: 14px;
}

/* hero landing section styling */
.hero-landing{
    top: 80px;
}
h1{
font-size: 200%;
line-height: 120%;
}
p{
font-size: 18.5px;
line-height: 24px;
margin-bottom: 1.25rem;
}

/* billy section styling */
h2{
font-size: 28px;
line-height: 35px;
}
.billy-container{
width: 40%;
}
.billy-content p {
    font-size: 14px;
}

/* features section styling */
.features ul li{
font-size: 16px;
line-height: 30px;
}
/* Others Think Section Styling */
.users{
    width: 50%;
}
.container{
    width: 100%;
}
.container h3{
    font-size: 12px;
    line-height: 18px;
}
.container-right{
    margin-left: 80px;
    width: 50%;
}
.container-right h2{
    width: 100%;
    margin-bottom: 15px;
    line-height: 30px;
}
.container-right h3{
    font-size: 14px;
    line-height: 18px;
}
 }

 @media screen and (max-width: 780px ){
    /* nav section styling */
.hero-logo{
width: 80px;
}
.hero-nav li{
font-size: 13px;
}
.hero-nav .signin{
margin-left: 15px;
}
.hero-nav a{
font-size: 13px;
}
.herobtn1{
font-size: 13px;
}
}

 @media screen and (max-width: 718px){
    .menu-bar{
    display: block;
}
    .hamburger-menu {
        height: 35px;
        width: 45px;
        position: relative;
        cursor: pointer;
        padding: 0.5rem;
        z-index: 4;
      }
    
      .ham-bar {
        width: 70%;
        height: 4px;
        background-color: #FF5F00;
        border-radius: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: transform 0.6s, opacity 0.8s, top 0.6s;
      }
    
      .bar-top {
        top: 25%;
      }
      .bar-bottom {
        top: 75%;
      }
      .hamburger-menu.active .bar-top {
        transform: translate(-50%, -50%) rotate(-315deg);
        top: 50%;
      }
      .hamburger-menu.active .bar-mid {
        opacity: 0;
      }
      .hamburger-menu.active .bar-bottom {
        transform: translate(-50%, -50%) rotate(-225deg);
        top: 50%;
      }
  #nav-links {
    position: fixed;
    top: 0;
    right: -100%;
    height: 260px;
    width: 100%;
    transition: right 0.5s;
    background: white;
    box-shadow: 1px 1px 3px #FF5F00;
    color: #000000;
    text-align: left;
    z-index: 2;
    display: block;
    margin-top: 62px;
    padding: 5px 0;
  }
  #nav-links li {
    padding: 10px 0;
    text-align: center;
  }

  #nav-links.active {
    right: 0;
  }
  #nav-links .nav-left{
    display: block;
  }
  #nav-links .nav-left a,  #nav-links .nav-right a{
    font-size: 18px;
  }
  #nav-links .nav-right li{
    margin-right: 20px;
  }

  nav{
    padding: 5px 20px;
}
.hero-logo{
    width: 60px;
}
.hero-landing{
    top: 50px;
    flex-direction: column;
    margin: 50px 20px;
}
.hero-landing .hero-landing-content{
    width: 100%;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
    .heroImg-container{
        width: 70%;
        margin-top: 20px;
    }
    .herobtn{
        width: 60%;
    }
    h1{
    text-align: center;
    }
    p{
    text-align: center;
    }
    .heroimg{
    width: 100%;
    }
    .cardsamples{
        margin: 100px 20px 0 20px;
    }
    .cardsamples img{
        width: 200%;
    }
    /* billy section */
    .billy{
        flex-direction: column;
        margin: 20px;
    }
    h2{
    text-align: center;
    }
    .billy-container{
    width: 80%;
    }
    .billy-img{
        width: 100%;
    }
    .billy-content{
        width: 100%;
        margin-left: 0;
    }
    .billy-content p {
        width: 100%;
        text-align: justify;
    }
    /* featues styling */
    .features{
        flex-direction: column;
        padding: 50px 20px;
        margin: 20px 0;
    }
    .features-text{
        width: 100%;
    }
    .features-text ul{
        margin-left: 20px;
    }
    .features-img{
        width: 100%;
        margin-left: 0;
    }

    /* Others Think Section Styling */
.others-think{
    flex-direction: column-reverse;
    padding: 20px;
}
.users{
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.container h3{
   width: 100%;
}
.one{
    margin: 0 0 20px 0;
}
.three{
    margin: 0;
}
.container-right{
    margin-left: 0;
    width: 100%;
}
.container-right h2{
    text-align: center;
}
.container-right h3{
    margin-bottom: 30px;
}
/* FAQ styling */
.faq{
    margin: 40px 20px;
 }
 .faq h3{
font-size: 14px;
line-height: 20px;
width: 300px;
margin: 20px 0;
 }
 .faq h4{
font-size: 13px;
line-height: 18px;
 }

.faq h4{
    width: 100%;
    padding: 15px;
     }
.faq .plus{
        display: none;
     }
 footer h5{
font-size: 8px;
line-height: 16px;
margin-top: 15px
 }
 
 /* footer section styling */
 footer{
    padding: 20px 0;
    margin-top: 20px;
 }
 footer h3{
font-size: 12px;
line-height: 20px;
padding: 0 20px;
 }
 footer .hero-nav li{
    font-size: 12px;
 }
 .socials{
     margin: 0 10px;
 }
 .socials .fa{
    font-size: 20px;
 }
 .socials a:nth-child(2){
    margin: 0 10px;
 }
 .socials .fa:hover{
    transform: rotateX('40');
    color: #FF5F00;
 }
 }
